<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSACVM</title>
    <link rel="stylesheet" href="~/css/bootswatch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="shortcut icon" type="image/png" href="~/CSA_Logo.ico" />*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <header class="col-12 position-fixed" style="z-index:100">
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="col-2">
                    <img class="img-fluid logo w-25" src="~/images/CSA_LOGO.jpeg" alt="Logotipo" />
                    <a class="navbar-brand ms-3" asp-area="" asp-controller="Home" asp-action="Index">CSACVM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item d-flex text-center align-items-baseline ms-1">
                            <input type="text" placeholder="Buscar" class="form-control ms-1" />
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                        <li class="nav-item align-items-end ms-2 d-flex">
                            <a class="fa-2xl fa fa-power-off nav-link" id="btnLogout" asp-controller="Login" asp-action="Logout"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container-fluid d-flex">
        <aside class="nav overflow-auto col-2" style="margin-top:120px">
            <div class="position-fixed">
                <nav class="nav-list align-items-center">
                    <a asp-controller="Login" asp-action="Profile" class="nav-link">
                        <i class="fa-solid fa-user-pen"></i>
                        <span class="nav-item ms-2">Editar Perfil</span>
                    </a>
                    <hr />
                    <a asp-controller="Personal" asp-action="Contactos" class="nav-link">
                        <i class="fa-solid fa-user-group"></i>
                        <span class="nav-item ms-2">Contactos</span>
                    </a>
                    @*<a asp-controller="Personal" asp-action="Mensajes" class="nav-link">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="nav-item ms-2">Mensajes</span>
                    </a>*@
                    <a asp-controller="Directorio" asp-action="Directorio" class="nav-link">
                        <i class="fa-solid fa-folder-closed"></i>
                        <span class="nav-item ms-2">Directorio</span>
                    </a>
                    <a asp-controller="Curriculum" asp-action="Curriculum" class="nav-link">
                        <i class="fa-solid fa-file"></i>
                        <span class="nav-item ms-2">Currículum Vitae</span>
                    </a>
                    <a asp-controller="Personal" asp-action="Notificaciones" class="nav-link">
                        <i class="fa-solid fa-bell"></i>
                        <span class="nav-item ms-2">Notificaciones</span>
                    </a>
                    <hr />
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="nav-item ms-2">Eventos</span>
                    </a>
                </nav>
            </div>
        </aside>
        <main role="main" class="container pb-3" style="margin-top:130px">
            @RenderBody()
        </main>



    </div>
    @* <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>*@

    @*    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - CSACVM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
