@using CSACVM.Modelos.ViewModels
@model CSACVM.Modelos.ViewModels.NotasVM

<form>
    <div class="row d-flex">
        <div class="row mt-3">
            <label class="form-label fw-bold">Título nota</label>
            <input class="form-control w-50" type="text" asp-for="@Model.Nota.Titulo" />
            <input class="form-control" asp-for="@Model.IdNota" hidden />
        </div>
        <div class="row mt-3">
            <label class="form-label fw-bold">Descripción de la nota</label>
            <textarea class="form-control w-75" rows="3" asp-for="@Model.Nota.Descripcion"></textarea>
        </div>
        <div class="col-3 mt-3">
            <button class="btn btn-primary" asp-controller="EditarNota" asp-action="GuardarNota">Guardar</button>
        </div>
    </div>
</form>
