body {
    background: #D55A00;
    background: linear-gradient(360deg, #D55A00, rgba(255,255,255,0.5) 93%);
}


#btnLogin {
    background-color: #FFA306;
    margin-top: 2% !important;
    color: white;
    border: 0 !important;
}

#btnRegister {
    margin-top: 2% !important;
    color: white;
    border: 0 !important;
}

#pNombreAplicacion {
    margin-top: 1rem;
    font-size: 1.75rem;
    padding-top: .5rem;
    font-weight: bold !important;
    color: #FFA306;
    -webkit-text-stroke: 0.2px black;
}