@model CSACVM.Modelos.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login - CSACVM";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row mx-0">
    <div class="card text-center shadow card-login">
        <div class="card-body">
            <h4 class="card-title mb-5 mt-4">
                <img class="img-fluid logo w-40" src="~/images/FCC_Logo.png" alt="Logotipo"  />
                <p id="pNombreAplicacion">CSACVM</p>
            </h4>
            <form method="POST">
                <div class="col-md-12">
                   
                    <div class="form-group mb-3 text-start">   
                        <input type="text" class="form-control mb-2" asp-for="NombreUser" placeholder="Usuario" aria-required="true" />
                        <span asp-validation-for="NombreUser" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3 text-start">
                        <input type="password" class="form-control mb-2" asp-for="Password" placeholder="Contraseña" aria-required="true" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-12 d-inline-block">
                        <button class="btn btn-primary w-100" asp-controller="Login" id="btnLogin" asp-action="Login">ENTRAR</button>
                    </div>  
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}